
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kaushan+Script&family=Libertinus+Mono&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Playwrite+AU+QLD:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tektur:wght@400..900&display=swap');


body{
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.ToDolist {
  background-color: rgb(247, 227, 227);
  width: 60%;
  height: fit-content;
  margin: auto;
  margin-top: 20px;
  padding: 30px;
}

.ToDolist h1 {
  text-align: center;
  padding: 30px ;
}

.Inputs {
  display: flex ;
  flex-direction: column;
}

input {
  padding: 10px ;
  margin: 20px ;
  margin-bottom: 5px;
}
input:focus {
  outline: none;

}

button {
  margin : 0px 20px ;
  padding: 10px ;
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
  border: 0.01px solid rgb(128, 128, 128);
  cursor: pointer;
}

ul {
  display: block ;
   
}

#click {
     position: absolute;
     right: 23%;
}

ul li {
  padding: 10px ;
}
button:hover {
  background-color: rgb(248, 243, 243);
}


li {
   font-weight: 500;
   font-size: 20px;
   cursor: pointer;
}

.finished {
  text-decoration: line-through;
}
