
body {
  background-color: rgba(39, 39, 39, 0.842);
  overflow: hidden;
}
.html {
  background-color: rgb(212, 212, 212);
}
.App {
     text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.formCard {
  width: 70%;
  height: fit-content;
  margin: auto auto ;
  background-color: rgba(255, 255, 255, 0.842);
  padding: 20px;
  color: rgb(21, 17, 39);
  border-radius: 20px;
  border: 1px solid black;
   display: flex ;
  justify-content: center ;
  align-items: center;
  text-transform: uppercase;

}

.formCard input {
  width: 500px;
  border: none;
  padding: 10px;
  margin: 8px;
  border-radius: 1px;
  border:0.2px solid grey;
}

label {
  font-weight: 500;
}

.formCard input:focus {
  outline: none;
  border: 0.5px solid gray;
}

select:focus {
  outline : none ; 
   border: 0.5px solid gray;
}


#popup {
   position: absolute;
   width: 50%;
   border: 1px solid black;
   background-color: #0000006e;
   width: 100vw ;
   height: 100vh;
   display: flex ;
   justify-content: center;
   align-items: center;

}

#popup-content {
  background-color: white;
  padding: 0px;
  width: 80%;
  color: green;
}

button {
  padding : 15px ;
  border : none ;
   color:rgb(0, 0, 0) ;
   margin-top: 20px;
   font-weight:300 ;
    border-radius:10px ;
    cursor:pointer;
    background-color: rgba(0, 122, 75, 0.436);
}

.btn-not {
    background-color: rgba(88, 88, 88, 0.676);
}