
.App {
     text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

ul {
  display: flex ;
  margin-left: 900px;
}

ul li {
  list-style: none;
  padding: 10px;
 
}

form {
  display: flex ;
  flex-direction: column;
  width: 40%;
  height: fit-content ;
  background-color: blanchedalmond;
  margin: 100px 350px;
  padding: 50px;

}

label {
  margin: 20px 0px;
}
input {
  padding: 10px ;
}
button {
  width: 100px;
  margin: auto;
  margin-top: 50px;
  padding: 10px;
  background-color: beige;
  border: 1px solid rgb(113, 113, 113);
  cursor: pointer;
}

p {
  margin-top: -97px;
  margin-left: 600px;
  font-weight: 600;
  color: green;
  cursor : pointer ; 
}

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #6dd5ed, #2193b0);
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
}

.welcome-title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.welcome-text {
  font-size: 1.2rem;
  max-width: 500px;
}